<header class="site-header">
  <div class="site-header-wrapper">
    <h1>
      <button
        routerLink="/"
        mat-menu-item><img src="../../assets/images/logo.png" alt="Bethany's Pie Shop Logo" /></button>
    </h1>
    <nav>
      <ul>
        <li>
          <!-- aria-current is for accessibility (indicate element for screen reader or similar) -->
          <button
            ariaCurrentWhenActive="page"
            routerLinkActive="active-link"
            class="menu-item" mat-button [matMenuTriggerFor]="menu"
          >Shop
            <span>&#8964;</span>
            <mat-menu class="menu-dropdown" #menu="matMenu">
              <!-- The second parameter is the path parameter.
                We also removed the click events.
                We could now also use anchors instead of buttons.
              -->
              <button mat-menu-item
                      routerLinkActive = "active-link-li"
                      [routerLink]="[ROUTE_SEGMENTS.PRODUCTS, Category.SEASONAL_PIE]"
              >Seasonal Pies</button>
              <button mat-menu-item
                      routerLinkActive = "active-link-li"
                      [routerLink]="[ROUTE_SEGMENTS.PRODUCTS, Category.FRUIT_PIE]"
              >Fruit Pies</button>
              <button mat-menu-item
                      routerLinkActive = "active-link-li"
                      [routerLink]="[ROUTE_SEGMENTS.PRODUCTS, Category.CHEESECAKE]"
              >Cheesecakes</button>
              <button mat-menu-item
                      routerLinkActive = "active-link-li"
                      [routerLink]="[ROUTE_SEGMENTS.PRODUCTS, Category.ALL]"
              >All Pies</button>
            </mat-menu>
          </button>
        </li>
        <li><button class="menu-item" mat-button
          ariaCurrentWhenActive="page"
          routerLinkActive="active-link"
          [routerLink]="[ROUTE_SEGMENTS.CONTACT]">Contact</button></li>
        <li><button class="menu-item" mat-button
          ariaCurrentWhenActive="page"
          routerLinkActive="active-link"
          [routerLink]="[ROUTE_SEGMENTS.ABOUT]">About</button></li>
      </ul>
    </nav>
    <div class="header-icons">
      <ul>
        <li><button mat-menu-item><img src="../../assets/images/cart-icon.png" alt="shopping cart icon" /></button></li>
      </ul>
    </div>
  </div>
</header>
